button {
    border: none;
    background-color: transparent;
    padding: 20px 35px;
    background-color: #AC1313;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

